*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica,Arial;
    font-size: 18px;
}

h1,h2{
    color: purple;
}

h1{
    font-size: 40px;
    margin-top:20px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

.author-text{
    font-size: 24px;
}
.container {
    width: 1140px;
    margin:20px auto 0px auto;
}

.blog-post {
    width: 75%; 
    float: left;
    padding-right: 30px;
}

.other-posts {
    width: 25%;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.author-box {
    width: 75%;
    border-top: 1px solid #c9c9c9;
    padding-top: 20px;
}

.logo-header{
    float: left;
}
.main-header{
    padding-top: 50px;
}





