*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica,Neue,Arial;
    font-size: 18px;
}

h1,h2{
    color: green;    
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text{
  text-align: justify;
  margin-bottom: 20px;
}

.author-text{
    font-size: 24px;
}
.container {
    width: 1140px;
    margin:20px auto 0px auto;
}

.blog-post{
    width: 75%;
    float: left;
    padding-right: 30px;
}

.other-posts{
    width: 25%;
    float: left;
}

.author-box{
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
